<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Waste Bin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jsqrcode-combined.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/html5-qrcode.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <style>
	    /* Remove the navbar's default margin-bottom and rounded borders */ 
	    .navbar {
	      margin-bottom: 0;
	      border-radius: 0;

	    }
	    
	    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
	    .row.content {height: 450px}
	    
	    /* Set gray background color and 100% height */
	    .sidenav {
	      padding-top: 20px;
	      background-color: #f1f1f1;
	      height: 100%;
	    }
	    
	    /* Set black background color, white text and some padding */
	    footer {
	      background-color: #555;
	      color: white;
	      padding: 15px;
	    }
	    
	    /* On small screens, set height to 'auto' for sidenav and grid */
	    @media screen and (max-width: 767px) {
	      .sidenav {
	        height: auto;
	        padding: 15px;
	      }
	      .row.content {height:auto;} 
	    }
  </style>

</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">Logo</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home</a></li>
	        <li><a href="/recycler">Recycle</a></li>
	        <li><a href="/collectors">Collectors</a></li>
	        <li><a href="/stats">Stats</a></li>
	        <li><a href="/maps">Maps</a></li>
	        <li><a href="/events">Events</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container-fluid text-center">    
	  <div class="row content">
	    <div class="col-sm-2 sidenav">
	     <div class="well">
	        <p>Waste Bin Status</p>
	      </div>
	      <div class="well">
	        <p id="waste_bin_status" class="text-danger">Closed</p>
	      </div>
	      <div class="well">
	        <button id="send_waste" class="btn btn-danger" disabled>Send Waste Data</button>
	      </div>
	    </div>
	    <div class="col-sm-8 text-left">       
	      <div>
	      	<h1>Smart Garbage Bin</h1>
	      </div>
	      <hr>
	      <div class="row">
    		<div class="col" align="center">
	      		<img src="{% static 'qr_reader/img/Recycle_Bin_Full.png' %}" alt="">
	      		<br>
	      		<button type="button" class="btn btn-primary" id="qr_scan">Scan QR</button>
    		</div>
		  </div>
		  <hr>
		  <div class="row">
		  	<div class="col" align="center">
		  		<div id="reader" style="width:300px;height:250px" align="center">
	 		  </div>		
		  	</div>
		  </div>
	    </div>
	    <div class="col-sm-2 sidenav">
	      <div class="well">
	        <p>Server Response</p>
	      </div>
	      <div class="well">
	        <p id="server_response" class="text-danger">No interaction!</p>
	      </div>
	    </div>
	  </div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			var qr_data;
			var sgb_id;
			$.getJSON("{% static 'data.json' %}",{async : false},function(data){
				sgb_id = data.sgb_id;
			});
			
			$('#qr_scan').click(function(){
				$('#waste_bin_status').html("Scanning..");
				$('#reader').html5_qrcode(function(data){
				 		 // do something when code is read
				 		 alert('Scan successful!');
				 		 qr_data = data;
				 		 $.post( 
				 		 		"{% url 'mqtt-ajax-authenticate' %}",
				 		 		{ 
				 		 			code: data,
				 		 			csrfmiddlewaretoken:'{{ csrf_token }}'
				 		 		 },
				 		 		function(mqtt_response,status){
				 		 			$("#reader").html5_qrcode_stop();
				 		 			$("#server_response").html(mqtt_response);
				 		 			//if response is true, open the SGB and activate the send 
				 		 			if(mqtt_response === "true"){
				 		 				$('#waste_bin_status').html("Open");
				 		 				$("#send_waste").attr("disabled",false);
				 		 			}
				 		 		});

				 		 $('#waste_bin_status').html("Scan complete!");
				 		 return;
				 	},
				 	function(error){
						//show read errors 
						console.log(error);
						/*$("#reader").html5_qrcode_stop();*/
						$('#waste_bin_status').html("Scan Error!!!");
					}, function(videoError){
						//the video stream could be opened
						console.log(videoError);
						$("#reader").html5_qrcode_stop();
						$('#waste_bin_status').html("Video Error!!");
					}
				);
			});

			//sends dummy waste data to server
			$('#send_waste').click(function(){
				var waste_info = '{"sgb_id":"'+sgb_id+'","waste_amt":1000,"qr_code":"'+qr_data+'"}';
				$.post( 
		 		 		"{% url 'mqtt-ajax-waste' %}",
		 		 		{ 
		 		 			waste_meta_data: waste_info,
		 		 			csrfmiddlewaretoken:'{{ csrf_token }}'
		 		 		 },
		 		 		function(res,status){
		 		 			$("#server_response").html(res);
			 		 		console.log(res);
		 		 		});
			});
		});
	</script>
	
</body>
</html>
</body>
</html>